.container{
  
  width: 35vw;
  height:60vh;
  background-color: #DCDCDC   ;
 padding: 16px; 
 left: 40vw;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
